<div class="text-center">
    <% if logged_in? %>
        <h1>商品リスト</h1>
        <%= render 'products/products', products: @products %>
    <% else %>
        <div class="center jumbotron">
            <h1>フリマサイトへようこそ！</h1>
            <%= link_to 'Sign Up now!', signup_path, class: 'btn btn-lg btn-primary' %>
        </div>
    <% end %>
</div>
